body{
    background: #666666;
    line-height: 100px;
}
.jumbotron{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    text-align: center;
    margin-top: 150px;
}
h4, h5{
    color: red;
}
h2{
    color: black;
    font-family: 'Press Start 2P', cursive;
}
h3{
    font-size: 36px;
    color: #ffffff;
}

@media screen and (max-width:980px){
    .container{
        width: 100%;
      }
      jumbotron{
        width: 100%;
      }
  }
  @media screen and (max-width:768px){
    .container{
        width: 100%;
        font-size: 18px;
        line-height: none;
        margin: 0 auto;
      }
      jumbotron{
        width: 100%;
      }
  }
  @media screen and (max-width:640px){
    .container{
        width: 100%;
        font-size: 18px;
        line-height: none;
        margin: 0 auto;
      }
      jumbotron{
        width: 100%;
      }
  }
  @media screen and (max-width:414px){
    .container{
      width: 100%;
      font-size: 18px;
        line-height: none;
        margin: 0 auto;
    }
    jumbotron{
      width: 100%;
    }
   
  }
  
  @media screen and (max-width:360px){
    .container{
        width: 100%;
        font-size: 18px;
        line-height: none;
        margin: 0 auto;
      }
      jumbotron{
        width: 100%;
      }
  }
  